@{
    ViewData["Title"] = "Login Failure";
    Layout = "_LayoutSignIn";
}



<div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="card card-signup">
            <header>
                <h2>@ViewData["Title"].</h2>
                <p class="text-danger">Unsuccessful login with service.</p>
            </header>

        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/Scripts/pages/generic.bundle.js"></script>
}
