@model IdeaInfoViewModel
@{
    ViewData["Title"] = "Post New Idea";
}

@section Scripts{
    <script src="~/Scripts/pages/ideas/create.bundle.js" asp-append-version="true"></script>
}

<div class="container create-idea">    
    @await Html.PartialAsync("_AddEditForm", Model);
</div>


