
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <section>


            <ul class="nav nav-pills" role="tablist">

                <li class="active">
                    <a href="#dashboard">
                        <i class="material-icons">dashboard</i>
                        Basic Information
                    </a>
                </li>
                <li class="">
                    <a href="#schedule">
                        <i class="material-icons">schedule</i>
                        Images
                    </a>
                </li>
                <li class="">
                    <a href="#tasks">
                        <i class="material-icons">list</i>
                        Pages
                    </a>
                </li>
                <li class="">
                    <a href="#payments">
                        <i class="material-icons">attach_money</i>
                        Review
                    </a>
                </li>
            </ul>

            <div class="content">


                <form class="form">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-group is-empty">
                            <input class="form-control" value="" type="text" placeholder="Title..." autocomplete="off" />
                            <span class="material-icons form-control-feedback">clear</span>
                            <span class="material-input"></span>
                            <span class="help-block validation-message"></span>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-group is-empty">
                            <textarea class="form-control" value="" placeholder="Description..." autocomplete="off"></textarea>
                            <span class="material-icons form-control-feedback">clear</span>
                            <span class="material-input"></span>
                            <span  class="help-block validation-message"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="checkbox">
                                <div class="togglebutton">
                                    <label>My idea requires funding
                                        <input type="checkbox" />                                        
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 short-text">
                        <textarea  class="form-control" value="" placeholder="Decribe your funding requirement..."></textarea>
                    </div>
                </form>

            </div>


        </section>
    </div>
</div>


