@model IdeaInfoViewModel
@{
    ViewData["Title"] = "Creat your idea";
}

@section Scripts{
    <script src="~/Scripts/pages/ideas/create.bundle.js"></script>
}

<div class="container create-idea">    
    @await Html.PartialAsync("_AddEditForm", Model);
</div>


