@model IdeaInfoViewModel
@{
    ViewData["Title"] = "Edit Idea";
}

@section Styles{
    <link href="~/css/quill.core.css" rel="stylesheet" />
    <link href="~/css/quill.snow.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/pages/ideas/edit.bundle.js" asp-append-version="true"></script>    
}

<div class="container create-idea l-padding white-background">
    @await Html.PartialAsync("_AddEditForm", Model);
</div>


