@model IdeaInfoViewModel
@{
    ViewData["Title"] = "Edit Idea Images";
}

@section Scripts{
    <script src="~/Scripts/pages/ideas/images.bundle.js" asp-append-version="true"></script>
}
<input id="IdeaId" type="hidden" value="@Model.Id" />
<div class="container create-idea l-padding white-background">
    <div>
        <h4 class="common-page-header">Post your new idea</h4>
        <section>
            <ul class="nav nav-pills nav-pills-vertical" role="tablist">
                <li class="complete"><a href="/ideas/@Model.Id/edit">Basic Information</a></li>
                <li class="active"><a href="/ideas/@Model.Id/images">Images</a></li>
                <li class=""><a href="/ideas/@Model.Id/teamdetails">Team</a></li>
                <li class=""><a href="/ideas/@Model.Id/pages">Pages</a></li>
                @*<li class=""><a href="#payments">Review</a></li>*@
            </ul>
            <div class="content" id="idea-image-upload-form">
                <div data-bind="with: form">
                    <file-uploader params="icon: file.icon, value: file.value"></file-uploader>
                    <p><b>*Note: Suggested image dimension 555 X 400 in pixels</b></p>
                    <div data-bind="if: file.selectedFile" class="card card-profile card-plain">
                        <img alt="Banner Image" height="400" width="555" data-bind="attr:{src: file.selectedFile}" title="Selected Banner Image"/>
                        
                    </div>

                </div>
                <div>
                    <button class="btn btn-primary pull-right" data-bind="click: save">Next</button>
                    <a asp-controller="Idea" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary pull-right">Previous</a>
                </div>
            </div>
        </section>
    </div>
</div>


