
@{
    ViewData["Title"] = "Ideas";
}

<div class="container create-idea">
    <div class="row">
        <h4 class="common-page-header">Explore Ideas</h4>
        <div class="content">
           
        </div>
    </div>
</div>


