
@{
    ViewData["Title"] = "Creat your idea";
}

<div class="container create-idea">
    <div class="row">
        <h4 class="common-page-header">Post your new idea</h4>
        <section>
            <ul class="nav nav-pills nav-pills-vertical" role="tablist">
                <li class="complete"><a href="#dashboard">Basic Information</a></li>
                <li class="complete"><a href="#schedule">Images</a></li>
                <li class="active"><a href="#tasks">Pages</a></li>
                @*<li class=""><a href="#payments">Review</a></li>*@
            </ul>
            <div class="content">
                <aside class="col-sm-3">
                    <ul class="nav nav-pills nav-stacked nav-pills-horizontal">
                        <li><a href="#">Created page 1</a></li>
                        <li>
                            <a href="#">
                                <div class="col-sm-12 input-group">
                                    <div class="form-group is-empty">
                                        <input class="form-control" value="" type="text" placeholder="Enter page name" autocomplete="off" data-bind="value: form.title" />
                                        <span class="material-icons form-control-feedback">clear</span>
                                        <span class="material-input"></span>
                                        <span class="help-block validation-message"></span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <button class="btn btn-simple create-page"><i class="material-icons">add</i><span>Create New Page</span></button>
                </aside>
                <content class="col-sm-9 tab-content">
                    <div class="col-sm-12 input-group">
                        <div class="form-group is-empty">
                            <textarea class="form-control" value="" placeholder="Description your idea *" autocomplete="off" data-bind="value: form.description"></textarea>
                            <span class="material-icons form-control-feedback">clear</span>
                            <span class="material-input"></span>
                            <span class="help-block validation-message"></span>
                        </div>
                    </div>
                </content>
            </div>
        </section>
    </div>
</div>


