@model IdeaInfoViewModel
@{
    ViewData["Title"] = "Edit Idea Pages";
}

@section Styles{
    <link href="~/css/quill.core.css" rel="stylesheet" />
    <link href="~/css/quill.snow.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/Scripts/pages/ideas/pages.bundle.js" asp-append-version="true"></script>
}

<script id="pages-template" type="text/html">
    <div class="row">
        <aside class="col-sm-3">
            <ul class="nav nav-pills nav-stacked nav-pills-horizontal nav-pills-success nav-pills-with-btn" data-bind="foreach: pages">
                <li class="active" data-bind="css:{ active: $parent.isCurrentPage($data) },click: function(){$parent.editPage($data);}">
                    <a>
                        <span data-bind="text: name"></span>
                    </a>
                    <button class="btn btn-danger btn-xs btn-simple" data-bind="if: canDelete,click: function(){ $parent.removePage($data);}">
                        <i class="material-icons pull-right">delete</i>
                    </button>
                </li>
            </ul>
            <button class="btn btn-simple create-page" data-bind="if: canAddPage, click: addPage">
                <i class="material-icons">add</i><span>Create New Page</span>
            </button>
        </aside>
        <content class="col-sm-9 tab-content" data-bind="if: currentPage">
            <div class="col-sm-12 input-group" data-bind="with: currentPage()">
                <div class="col-sm-12 input-group">
                    <div class="form-group is-empty">
                        <input class="form-control" type="text" placeholder="Enter page name" autocomplete="off" data-bind="enable: canDelete, textInput: name" />
                        <span class="material-icons form-control-feedback">clear</span>
                        <span class="material-input"></span>
                        <span class="help-block validation-message"></span>
                    </div>
                </div>
                <div class="col-sm-12 input-group">
                    <rich-text-editor params="placeholder:'Page content',mode:'all',value: content"></rich-text-editor>
                </div>
            </div>
        </content>
    </div>
    <div class="row">
        <button class="btn btn-primary pull-right" data-bind="click: finish">Review</button>
        <a asp-controller="Idea" asp-action="Images" asp-route-id="@Model.Id" class="btn btn-secondary pull-right">Previous</a>
    </div>
</script>

<input id="IdeaId" type="hidden" value="@Model.Id" />

<div class="container create-idea l-padding white-background">
    <h4 class="common-page-header">Post your new idea</h4>

    <div>
        <section class="row">
            <ul class="nav nav-pills nav-pills-vertical" role="tablist">
                <li class="complete"><a href="/ideas/@Model.Id/edit">Basic Information</a></li>
                <li class="complete"><a href="/ideas/@Model.Id/images">Images</a></li>
                <li class="complete"><a href="/ideas/@Model.Id/teamdetails">Team</a></li>
                <li class="active"><a href="/ideas/@Model.Id/pages">Pages</a></li>
                @*<li class=""><a href="#payments">Review</a></li>*@
            </ul>
        </section>
        <section class="content" id="idea-pages" data-bind="template:{name:'pages-template'}"></section>
    </div>
</div>

