
@{
    ViewData["Title"] = "Creat your idea";
}

<div class="container create-idea">
    <div class="row">
        <h4 class="common-page-header">Post your new idea</h4>
        <section>
            <ul class="nav nav-pills nav-pills-vertical" role="tablist">
                <li class="complete"><a href="#dashboard">Basic Information</a></li>
                <li class="complete"><a href="#schedule">Images</a></li>
                <li class="active"><a href="#tasks">Pages</a></li>
                <li class=""><a href="#payments">Review</a></li>
            </ul>
            <div class="content">
                <aside>
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">Profile</a></li>
                        <li role="presentation"><a href="#">Messages</a></li>
                    </ul>
                </aside>
            </div>
        </section>
    </div>
</div>


