.nav-pills {

    > li {
        > a {
            line-height: $mdb-btn-font-size-base * 2;
            font-size: $mdb-btn-font-size-base;
            font-weight: $font-weight-default;
            min-width: 100px;
            text-align: center;
            color: $label-color;
            transition: all .3s;
            border-bottom: 3px solid $label-border-color;

            &:focus, &:hover {
                background: none;
                border-bottom: 3px solid $active-color;
                color: $active-color;
            }
        }

        i {
            display: block;
            font-size: 30px;
            padding: 15px 0;
        }

        &.active > a {
            &,
            &:focus,
            &:hover {
                background-color: $white;
                color: $active-color;
                border-bottom: 3px solid $active-color;
            }
        }

        &.complete > a {
            color: $deactive;
            border-bottom: 3px solid $deactive;
        }
    }

    &.nav-pills-info {
        > li {
            &.active > a {
                &,
                &:focus,
                &:hover {
                    background-color: $brand-info;
                    @include shadow-big-color($brand-info);
                }
            }
        }
    }

    &.nav-pills-success {
        > li {
            &.active > a {
                &,
                &:focus,
                &:hover {
                    background-color: $brand-success;
                    @include shadow-big-color($brand-success);
                }
            }
        }
    }

    &.nav-pills-warning {
        > li {
            &.active > a {
                &,
                &:focus,
                &:hover {
                    background-color: $brand-warning;
                    @include shadow-big-color($brand-warning);
                }
            }
        }
    }

    &.nav-pills-danger {
        > li {
            &.active > a {
                &,
                &:focus,
                &:hover {
                    background-color: $brand-danger;
                    @include shadow-big-color($brand-danger);
                }
            }
        }
    }
}

.tab-space {
    padding: 20px 0 50px 0px;
}
