@model IndexIdeasViewModel
@{
    ViewData["Title"] = "My Ideas";
}
@section Scripts{
    <script src="~/Scripts/pages/ideas/searchMyIdeas.bundle.js"></script>
}

<script type="text/html" id="search-page-template">
    <div class="row l-top-margin l-bottom-margin">
        <div class="col-sm-8">
            <h3 class="search-title">Ideas flashed in my head!</h3>
        </div>
        <div class="col-sm-4">
            <form class="form search-box-wrap l-top-margin" data-bind="submit: search">
                <input class="search-box" placeholder="Search for ideas..." data-bind="textInput: keyword" />
                <i class="search-icon material-icons">search</i>
            </form>
        </div>
    </div>
    <div class="row" data-bind="foreach: collection">
        <div class="col-sm-4 idea-card-wrap">
            <idea-card params="idea: $data, like: $parent.like, comment: $parent.comment"></idea-card>
        </div>
    </div>
</script>

<div id="ideas-search-container">
    <div class="row">
        <div class="search-form-container" data-bind="template: {name:'search-page-template'}">
        </div>
    </div>
</div>

@await Html.PartialAsync("_FloatingButtons")
