.search-form-container {

    .search-title {
        color: darken($light-blue, 25% );
    }

    .search-box-wrap {
        border: solid 1px lighten($blue-grey, 20%);
        color: lighten($blue-grey, 10%);
        border-radius: 5px;

        .search-box {
            line-height: 32px;
            background: rgba(0,0,0,0);
            border: none;
            width: calc(100% - 36px);
            padding: 5px;
        }

        .search-icon {
            vertical-align: middle;
        }
    }
}
