.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 400px;
    width: 555px;
    border-radius: 3px 0 0 3px;
}

.carousel .carousel-indicators {
    bottom: -5px;
    right: 2%;
    width: auto;
    left: initial;

    > li {
        border-radius: 12px;
        background: $brand-primary;
    }
}

.carousel {
    .idea-title h2 {
        color: darken($light-blue, 25% );
        margin-bottom: 0;
    }
}

/*.carousel .carousel-caption {
    padding-bottom: 200px;
}*/

.blur{
    filter: blur(5px);
}
