.create-idea {
    .nav-pills-vertical {
        margin-bottom: 30px;

        > li {
            width: calc(25% - 2px);

            > a {
                border-radius: 0;
            }
        }
    }
}

.create-page {

    span {
        padding-left: 3px;
    }
}
