.idea-card-wrap {
    padding: 27px;
    border-radius: 5px;
}


.idea-card {
    @include box-shadow($top: 0px, $left: 0, $blur: 5px, $spread: 0, $color: rgba(51, 51, 51, 0.35));
    height: 450px;
    background: $white;
    border-radius: 5px;

    &:hover {
        @include box-shadow($top: 0px, $left: 0, $blur: 7px, $spread: 0, $color: rgba(51, 51, 51, 0.45));
    }

    img {
        border-radius: 5px 5px 0 0;
        height: 188px;
    }
}

.card-image {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.card-content-container {
    padding: 10px 20px;
}

.card-header {
    font-weight: 500;
    font-size: 1.5em;
    color: $header-color;
    padding: 10px 0 0;
    margin: 0;
}

.author-wrap {
    display: block;
    color: $label-color;
    padding-bottom: 20px;

    .author {
        color: $deactive;
    }
}

.card-footer {
    padding: 5px 20px;
    position: absolute;
    bottom: 27px;
}

.btn.btn-simple.idea-like {
    padding: 0 20px 0 0;
    color: #f48d8d;

    span {
        padding-left: 6px;
    }
}

.btn.btn-simple.idea-comment {
    padding: 0 20px 0 0;
    color: #19b7df;

    span {
        padding-left: 6px;
    }
}


.idea-details-page {
    overflow: hidden;
    border: #efefef 1px solid;
}

.panel-white {
    border: 1px solid #dddddd;

    .panel-heading {
        color: #333;
        background-color: #fff;
        border-color: #ddd;
    }

    .panel-footer {
        background-color: #fff;
        border-color: #ddd;
    }
}

iframe.ql-video{
    width: 100%;
    min-height: 500px;
}

.post {
    .post-heading {
        height: 95px;
        padding: 20px 15px;

        .avatar {
            width: 60px;
            height: 60px;
            display: block;
            margin-right: 15px;
        }

        .meta {
            .title {
                margin-bottom: 0;

                a {
                    color: black;

                    &:hover {
                        color: #aaaaaa;
                    }
                }
            }

            .time {
                margin-top: 8px;
                color: #999;
            }
        }
    }

    .post-image .image {
        width: 100%;
        height: auto;
    }

    .post-description {
        padding: 15px;

        p {
            font-size: 14px;
        }

        .stats {
            margin-top: 20px;

            .stat-item {
                display: inline-block;
                margin-right: 15px;

                .icon {
                    margin-right: 8px;
                }
            }
        }
    }

    .post-footer {
        border-top: 1px solid #ddd;
        padding: 15px;

        .input-group-addon a {
            color: #454545;
        }

        .comments-list {
            padding: 0;
            margin-top: 20px;
            list-style-type: none;

            .comment {
                display: block;
                width: 100%;
                margin: 20px 0;

                .avatar {
                    width: 35px;
                    height: 35px;
                }

                .comment-heading {
                    display: block;
                    width: 100%;

                    .user {
                        font-size: 14px;
                        font-weight: bold;
                        display: inline;
                        margin-top: 0;
                        margin-right: 10px;
                    }

                    .time {
                        font-size: 12px;
                        color: #aaa;
                        margin-top: 0;
                        display: inline;
                    }
                }

                .comment-body, > .comments-list {
                    margin-left: 50px;
                }
            }
        }
    }
}