.idea-card-wrap {
    padding: 27px;
    border-radius: 5px;
}


.idea-card {
    @include box-shadow($top: 0px, $left: 0, $blur: 5px, $spread: 0, $color: rgba(51, 51, 51, 0.35));
    height: 450px;
    background: $white;
    border-radius: 5px;

    &:hover {
        @include box-shadow($top: 0px, $left: 0, $blur: 7px, $spread: 0, $color: rgba(51, 51, 51, 0.45));
    }

    img {
        border-radius: 5px 5px 0 0;
        height: 188px;
    }
}

.card-image {
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.card-content-container {
    padding: 10px 20px;
}

.card-header {
    font-weight: 500;
    font-size: 1.5em;
    color: $header-color;
    padding: 10px 0 0;
    margin: 0;
}

.author-wrap {
    display: block;
    color: $label-color;
    padding-bottom: 20px;

    .author {
        color: $deactive;
    }
}

.card-footer {
    padding: 5px 20px;
    position: absolute;
    bottom: 27px;
}

.btn.btn-simple.idea-like {
    padding: 0 20px 0 0;
    color: #f48d8d;

    span {
        padding-left: 6px;
    }
}

.btn.btn-simple.idea-comment {
    padding: 0 20px 0 0;
    color: #19b7df;

    span {
        padding-left: 6px;
    }
}


.idea-details-page {
    overflow: hidden;
    border: #efefef 1px solid;
}