<div class="row">
    <div class="col-md-10">
        <form class="form" data-bind="submit: createComment">
            <div class="input-group col-sm-12">
                <div class="form-group form-group-lg" data-bind="validationElement: form().commentText">
                    <input type="text" class="form-control" placeholder="Enter your comment here" data-bind="disable: isCommentSaving, textInput: form().commentText" />
                    <span class="material-icons form-control-feedback">clear</span>
                    <span class="material-input"></span>
                </div>
            </div>
            <button class="btn btn-primary pull-right" data-bind="disable: isCommentSaving">Comment</button>
        </form>
    </div>
</div>
<div class="row" data-bind="foreach: items">
    <div class="col-md-10">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#"><b data-bind="text: owner.fullName"></b></a>
                        commented
                    </div>
                    <h6 class="text-muted time" data-bind="text: commentedAgo"></h6>
                </div>
                <div class="pull-right">
                    <button class="btn btn-simple" data-bind="if: $parent.canDelete($data), click: function(){ $parent.deleteComment($data);}"><i class="material-icons">delete</i></button>
                </div>
            </div>
            <div class="post-description">
                <p data-bind="text: content"></p>
            </div>
        </div>
    </div>
</div>