<div class="form-group">
    <input type="file" ref="fileinput" data-bind="change: onFileSelect"/>
    <div class="input-group col-xs-12">
        <span class="input-group-addon"><span><i class="material-icons" data-bind="html: icon"></i></span></span>
        <input type="text" class="form-control input-lg" disabled placeholder="Upload Image" />
        <span class="input-group-btn">
            <button class="browse btn btn-primary input-lg" type="button">
                <span><i class="material-icons">file_upload</i></span> Browse
            </button>
        </span>
    </div>
</div>