<div>
    <div class="card-image"><a data-bind="attr:{href: detailsUrl}"><img data-bind="attr:{src: banner}" /></a></div>
    <div class="card-content-container">
        <h4 class="card-header">
            <a data-bind="attr:{href: detailsUrl}, text: title"></a>
        </h4>
        <span class="author-wrap">By <a class="author" data-bind="attr:{href: ownerProfileUrl}, text: owner().fullName"></a></span>
        <p class="card-content" data-bind="text: description"></p>
    </div>
    <div class="card-footer">
        <button class="btn btn-simple idea-like" data-bind="click: actions.like"><i class="material-icons">favorite</i><span data-bind="text: likes"></span></button>
        <a class="btn btn-simple idea-comment" data-bind="attr:{href: detailsUrl}"><i class="material-icons">insert_comment</i><span data-bind="text: comments"></span></a>
    </div>
</div>