@model  TeamMemberViewModel

@switch (Model.Status)
{
    case MemberStatus.Request:
        <button class="btn btn-warning" disabled="disabled" >Pending</button>
        break;
    case MemberStatus.Approved:
        <button class="btn btn-success" disabled="disabled">
            Team Member
        </button>
        break;
    default:

        <form class="form-inline" method="post" asp-controller="team" 
                asp-action="Register" 
                asp-route-id ="@Model.IdeaId"
                asp-route-userId ="@Model.UserId">
            <button class="btn btn-primary">
              <i class="material-icons">add</i>  Join Idea
            </button>
        </form>
     
        break;
}