@mixin box-shadow($top: 1px, $left: 1px, $blur: 2px, $spread: 2px, $color: rgba(50, 50, 50, 0.15), $inset: "") {
    -webkit-box-shadow: $top $left $blur $spread $color #{$inset};
    -moz-box-shadow: $top $left $blur $spread $color #{$inset};
    box-shadow: $top $left $blur $spread $color #{$inset};
}


.display-inline{
    display:inline-block !important;
}

.common-page-header {
    font-size: 2.1em;
    font-weight: 500;
    margin: 30px 0;
}

    .alert-nocontent {
        background-color: $brand-primary;
        color: #ffffff;
        border-radius: 5%;
    }

    .nocontent-padding {
        padding: 10px 15px !important;
    }

    textarea {
        min-height: 90px;
    }

    .s-margin {
        margin: 5px;
    }

    .s-top-margin {
        margin-top: 5px;
    }

    .s-bottom-margin {
        margin-bottom: 5px;
    }

    .m-margin {
        margin: 10px;
    }

    .m-left-margin {
        margin-left: 10px;
    }

    .m-right-margin {
        margin-right: 10px;
    }

    .l-margin {
        margin: 20px;
    }


    .l-top-margin {
        margin-top: 20px;
    }


    .l-bottom-margin {
        margin-bottom: 20px;
    }

.xl-margin {
    margin: 30px !important;
}

.xl-left-margin {
    margin-left: 30px !important;
}

.btn-simple-border{
    border:1px solid #808080;
    color:#666;
}






