@mixin box-shadow($top: 1px, $left: 1px, $blur: 2px, $spread: 2px, $color: rgba(50, 50, 50, 0.15), $inset: "") {
    -webkit-box-shadow: $top $left $blur $spread $color #{$inset};
    -moz-box-shadow: $top $left $blur $spread $color #{$inset};
    box-shadow: $top $left $blur $spread $color #{$inset};
}


.display-inline {
    display: inline-block !important;
}

.white-background {
    background: #FFF;
}


.common-page-header {
    font-size: 2.1em;
    font-weight: 500;
    margin: 30px 0;
}

.alert-nocontent {
    background-color: $brand-primary;
    color: #ffffff;
    border-radius: 5%;
}

.nocontent-padding {
    padding: 10px 15px !important;
}

textarea {
    min-height: 90px;
}

.s-margin {
    margin: 5px;
}

.s-top-margin {
    margin-top: 5px;
}

.s-bottom-margin {
    margin-bottom: 5px;
}


.s-left-margin {
    margin-left: 5px;
}

.s-right-margin {
    margin-right: 5px;
}

.m-margin {
    margin: 10px;
}

.m-left-margin {
    margin-left: 10px;
}

.m-right-margin {
    margin-right: 10px;
}

.l-margin {
    margin: 20px;
}


.l-top-margin {
    margin-top: 20px;
}


.l-bottom-margin {
    margin-bottom: 20px;
}

.l-right-margin {
    margin-right: 20px;
}


.l-left-margin {
    margin-left: 20px;
}

.l-padding {
    padding: 20px;
}

.xl-margin {
    margin: 30px;
}

.xl-left-margin {
    margin-left: 30px;
}

.xl-right-margin {
    margin-right: 30px;
}

.xl-top-margin {
    margin-top: 30px;
}

.xl-bottom-margin {
    margin-bottom: 30px;
}

.width250px {
    width: 250px;
}

.ellipses {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
