@import 'materialkit/assets/sass/material-kit.scss';

@import 'override/_override_pills.scss';

@import 'common.scss';

@import 'pages/create.scss';
@import 'pages/idea.scss';

.logo img {
    height: 42px;
}

.app-page {
    padding-top: 75px;
}

footer {
    padding: 0;
    width: 100%;
}

.copyright {
    font-size: 1em;
    text-align: center;
    color: $gray-color;
    margin: 0;
}
