@import 'materialkit/assets/sass/material-kit.scss';

@import 'override/_override_pills.scss';
@import 'override/_override_carousel_slide.scss';

@import '_custom-scroll.scss';
@import '_transitions.scss';
@import 'common.scss';

@import 'components/_idea-card.scss';
@import 'components/_search.scss';

@import 'pages/create.scss';
@import 'pages/idea.scss';
@import 'pages/profile.scss';


@import 'timeline.scss';

html, body {
    height: 100%;
    background-color: $body-bg;
}

.logo img {
    height: 42px;
}

.app-page {
    height: 100%;
    padding-top: 75px;
}

.container-wrap {
    height: calc(100% - 60px);
    overflow: auto;
}

.custom-scrollable {
    overflow: auto;
}

footer {
    padding: 0;
    width: 100%;
}

.copyright {
    font-size: 1em;
    text-align: center;
    color: $gray-color;
    margin: 0;
}

.button-floater {
    position: fixed;
    bottom: 10%;
    right: 10%;
}

.turbolinks-progress-bar {
    height: 5px;
    background-color: #fff;
}

.bg-red {
    background-color: #dd4b39 !important
}