@model  UserActivityViewModel


<div class="row">
    <section>
        <ul class="nav nav-pills nav-pills-vertical">
            <li class="s-margin m-right-margin active">
                <a data-toggle="tab" href="#contributions">Contributions</a>
            </li>
            <li class="s-margin m-right-margin"  data-toggle="tab" href="#timeline"><a>Timeline</a></li>
        </ul>
    </section>
</div>