<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_Header")
</head>

<body data-no-transition-cache>
    @RenderSection("Styles", required: false)

    <div class="app-page">
       @await Html.PartialAsync("_Navigation")
        <div class="container-wrap custom-scrollable">
            <div class="container-fluid body-content">
                <div class="wrapper">
                    <div class="main">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <footer>
                <p class="copyright">&copy; 2017 - Lot Of Ideas</p>
            </footer>
        </div>
    </div>
    @await Html.PartialAsync("_CommonLibImports")
    @await Html.PartialAsync("_CommonImports")
    @RenderSection("Scripts", required: false)
</body>
</html>
