<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid xl-right-margin xl-left-margin">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand logo">
                <img src="/logos/ideaboard-logo-white-nocap.png" />
            </a>
        </div>
        <div class="navbar-collapse collapse">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
</nav>